.DS_Store

# Local configuration file (sdk path, etc)
local.properties

# Android Studio project files
*.iml
.gradle
.idea
build

# Secret API keys
app/src/debug/res/values/keys.xml
app/src/release/res/values/keys.xml