<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapdemo">

    <!--
         ACCESS_FINE_LOCATION or ACCESS_COARSE_LOCATION is not required by
         default for Maps but, for example, the MyLocation layer and
         Location Services API does.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MapDemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             Create a string resource 'secret_maps_api_key' with the Google Maps API debug
             key in strings.xml, or better yet, in a new file src/debug/res/values/keys.xml
             which git will ignore (see .gitignore in top-level directory).  You do NOT
             want to check private API keys into your group project's public code repository.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/secret_maps_api_key" />

    </application>

</manifest>